<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% block title %}{% endblock%}</title>

</head>

<body>
    <title>Player Transfer Value Dashboard</title>
	<div class="nav-container">
    		
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <img src="{{ url_for('static', filename='football_logo.png') }}" alt="football" width="40", height="40">
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a> 
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/graphs">Compare Transfer Values</a>           
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--a class="dropdown-item" href="/edit_db">Make Changes to the Database</a-->
                    <!--a class="dropdown-item" href="/user_reports">View User Reports</a-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin_login">Login as Admin</a>
                </div>
                </li>
            </ul>
            </div>
        </nav>
	</div>

    {% block content %}{% endblock %}

    <footer class="footer">
		<form action="/submit_report" method="POST">
			<h3>Report Error or Inconsistency</h3>
			<label for="player_name">Player Name:</label>
			<input type="text" id="player_name" name="player_name" required><br><br>
			<label for="report">Report:</label>
			<textarea id="report" name="report" rows="4" cols="50" required></textarea><br><br>
			<input type="submit" value="Submit Report">
		</form>
	</footer>

    {% block scripts %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
